.icon-wrapper {
  height: 50vh;
  width: 50vh;
  background-color: aquamarine;
  text-align: center;
}

.icon-button {
  margin-top: 10%;
}

.icon-container {
  margin: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.fa-icon {
  font-size: 5em;
}
