@import "~@fortawesome/fontawesome-free/css/all.css";

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon-container i {
  font-size: 7em;
}
